absl-py==2.2.2
access==1.1.9
affine==2.4.0
aiofiles==24.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aioitertools==0.12.0
aiolimiter==1.1.0
aiosignal==1.3.1
aiosqlite==0.20.0
alembic==1.14.0
altair==5.4.1
anndata==0.10.8
annotated-types==0.7.0
anthropic==0.39.0
antlr4-python3-runtime==4.9.3
anyio==4.6.2.post1
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arize-phoenix==5.7.0
arize-phoenix-evals==0.17.3
arize-phoenix-otel==0.6.1
array_api_compat==1.7.1
arrow==1.3.0
asgiref==3.8.1
assemblyai==0.35.1
astra-assistants==2.2.6
astrapy==1.5.2
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
asyncer==0.0.8
asyncio-atexit==1.0.1
attrs==23.2.0
auth0-python==4.7.2
Authlib==1.3.1
autograd==1.6.2
autograd-gamma==0.5.0
babel==2.16.0
backcall==0.2.0
backoff==2.2.1
backports.tarfile==1.2.0
backrefs==5.8
bayesian-optimization==1.4.3
BayesianOptimization==0.0.0
bce-python-sdk==0.9.23
bcrypt==4.0.1
beautifulsoup4==4.12.3
bidict==0.23.1
biopython==1.83
bleach==6.1.0
blinker==1.8.2
boto3==1.34.162
botocore==1.34.162
build==1.2.2.post1
CacheControl==0.14.1
cachetools==5.5.0
cassandra-driver==3.29.2
cassio==0.1.10
catboost==1.2.3
cattrs==24.1.2
certifi==2024.7.4
cffi==1.17.1
chainforge==0.3.2.1
chardet==5.2.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.3
chromadb==0.4.24
cityhash==0.4.7
clarifai==10.8.0
clarifai-grpc==10.9.11
cleo==2.1.0
clevercsv==0.8.2
click==8.1.7
click-plugins==1.1.1
clickhouse-connect==0.7.19
cligj==0.7.2
cloudpickle==3.0.0
cohere==5.11.3
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.9.0
comm==0.2.2
commot==0.0.3
composio_core==0.5.9
composio_langchain==0.5.9
contextlib2==21.6.0
contourpy==1.2.0
coolname==2.2.0
crashtest==0.4.1
crewai==0.70.1
cryptography==43.0.3
cv==1.0.0
cycler==0.12.1
dalaipy==2.0.2
dataclasses-json==0.6.7
datasets==2.2.1
dcurves==1.1.1
debugpy==1.8.7
decorator==4.4.2
deepdiff==8.0.1
deepsurv==0.1.0
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
dill==0.3.9
dirtyjson==1.0.8
diskcache==5.6.3
distlib==0.3.9
distro==1.9.0
dnspython==2.7.0
docker==7.1.0
docstring_parser==0.16
dspy==2.5.29
dspy-ai==2.5.29
duckdb==1.1.3
duckduckgo_search==6.3.4
dulwich==0.21.7
durationpy==0.9
e2b==1.0.3
e2b-code-interpreter==1.0.1
ecdsa==0.19.0
einops==0.8.0
elastic-transport==8.15.1
elasticsearch==8.15.1
embedchain==0.1.116
emoji==2.14.0
environs==9.5.0
esda==2.5.1
et_xmlfile==2.0.0
Events==0.5
exceptiongroup==1.2.2
executing==2.1.0
faiss-cpu==1.9.0
fake-useragent==1.5.1
fastapi==0.115.4
fastavro==1.9.7
fastjsonschema==2.20.0
filelock==3.16.1
fiona==1.9.6
firecrawl-py==1.5.0
FLAML==2.3.2
Flask==3.0.3
Flask-Cors==5.0.0
flatbuffers==24.3.25
fonttools==4.47.2
formulaic==1.0.1
fqdn==1.5.1
frozendict==2.4.6
frozenlist==1.5.0
fsspec==2024.10.0
future==1.0.0
gast==0.6.0
gensim==4.3.2
geomet==0.2.1.post1
geopandas==1.0.1
ghp-import==2.1.0
giddy==2.3.5
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage==0.6.6
google-api-core==2.22.0
google-api-python-client==2.151.0
google-auth==2.36.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-aiplatform==1.71.1
google-cloud-bigquery==3.27.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.13.0
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-generativeai==0.7.2
google-pasta==0.2.0
google-resumable-media==2.7.2
google_search_results==2.4.2
googleapis-common-protos==1.65.0
gotrue==2.10.0
gptcache==0.1.44
gql==3.5.0
grandalf==0.8
graphql-core==3.2.5
graphviz==0.20.3
greenlet==3.1.1
griffe==1.6.0
groq==0.11.0
grpc-google-iam-v1==0.13.1
grpc-interceptor==0.15.4
grpcio==1.64.3
grpcio-health-checking==1.62.3
grpcio-status==1.62.3
grpcio-tools==1.62.3
gunicorn==23.0.0
h11==0.14.0
h2==4.1.0
h5py==3.13.0
histolab==0.7.0
hpack==4.0.0
html5lib==1.1
htmltools==0.6.0
httpcore==1.0.6
httplib2==0.22.0
httptools==0.6.4
httpx==0.27.0
httpx-sse==0.4.0
huggingface-hub==0.29.1
humanfriendly==10.0
hyper-connections==0.1.15
hyperframe==6.0.1
hyperopt==0.2.5
idna==3.7
igraph==0.11.6
ijson==3.3.0
imageio==2.36.0
imbalanced-learn==0.12.3
imblearn==0.0
importlib_metadata==8.0.0
importlib_resources==6.4.5
inequality==1.0.1
inflection==0.5.1
inquirerpy==0.3.4
installer==0.7.0
instructor==1.3.3
interface-meta==1.3.0
ipykernel==6.29.5
ipython==8.28.0
ipywidgets==8.1.5
isoduration==20.11.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jedi==0.19.1
Jinja2==3.1.4
jiter==0.4.2
jmespath==1.0.1
joblib==1.4.2
jq==1.8.0
json5==0.9.25
json_repair==0.25.3
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpickle==3.4.2
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
karateclub==1.2.2
keras==3.9.2
keyring==24.3.1
kiwisolver==1.4.5
kubernetes==31.0.0
langchain==0.2.16
langchain-anthropic==0.1.23
langchain-astradb==0.4.0
langchain-aws==0.1.18
langchain-chroma==0.1.4
langchain-cohere==0.1.9
langchain-community==0.2.16
langchain-core==0.2.38
langchain-elasticsearch==0.2.2
langchain-experimental==0.0.61
langchain-google-calendar-tools==0.0.1
langchain-google-community==1.0.7
langchain-google-genai==1.0.10
langchain-google-vertexai==1.0.10
langchain-groq==0.1.9
langchain-milvus==0.1.7
langchain-mistralai==0.1.12
langchain-mongodb==0.1.9
langchain-nvidia-ai-endpoints==0.1.6
langchain-openai==0.1.22
langchain-pinecone==0.1.3
langchain-text-splitters==0.2.4
langchain-unstructured==0.1.2
langchainhub==0.1.21
langflow==1.0.19.post1
langflow-base==0.0.98
langfuse==2.53.9
langsmith==0.1.86
langwatch==0.1.16
lark==1.2.2
Lasagne==0.1
legacy-api-wrap==1.4
leidenalg==0.10.2
Levenshtein==0.25.1
libclang==18.1.1
libpysal==4.11.0
lifelines==0.27.8
lightgbm==4.5.0
linkify-it-py==2.0.3
litellm==1.51.0
llama-cloud==0.1.4
llama-index==0.11.22
llama-index-agent-openai==0.3.4
llama-index-cli==0.3.1
llama-index-core==0.11.22
llama-index-embeddings-huggingface==0.3.1
llama-index-embeddings-openai==0.2.5
llama-index-indices-managed-llama-cloud==0.4.0
llama-index-legacy==0.9.48.post4
llama-index-llms-groq==0.2.0
llama-index-llms-openai==0.2.16
llama-index-llms-openai-like==0.2.0
llama-index-multi-modal-llms-openai==0.2.3
llama-index-program-openai==0.2.0
llama-index-question-gen-openai==0.2.0
llama-index-readers-file==0.2.2
llama-index-readers-llama-parse==0.3.0
llama-index-tools-wolfram-alpha==0.2.0
llama-parse==0.5.13
llvmlite==0.42.0
loguru==0.7.2
lsprotocol==2023.0.1
lxml==5.3.0
lz4==4.3.3
magicattr==0.1.6
Mako==1.3.6
mapclassify==2.7.0
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.23.1
matplotlib==3.8.2
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.2
mdurl==0.1.2
memzero==0.0.7
mergedeep==1.3.4
metal_sdk==2.5.1
metaphor-python==0.1.23
mgwr==2.2.1
mistune==3.0.2
mkdocs==1.6.1
mkdocs-autorefs==1.4.1
mkdocs-get-deps==0.2.0
mkdocs-material==9.6.8
mkdocs-material-extensions==1.3.1
mkdocstrings==0.20.0
mkdocstrings-python==1.9.1
ml_dtypes==0.5.1
mmh3==5.0.1
momepy==0.7.2
monotonic==1.6
more-itertools==10.5.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multiprocess==0.70.17
multitasking==0.0.11
mypy-extensions==1.0.0
namex==0.0.8
nanoid==2.0.0
narwhals==1.12.1
natsort==8.4.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
ngboost==0.5.1
nltk==3.9.1
notebook==7.2.2
notebook_shim==0.2.4
numba==0.59.1
numexpr==2.10.1
numpy==1.26.4
oauthlib==3.2.2
omegaconf==2.3.0
onnxruntime==1.20.0
openai==1.54.3
opencv-python==4.10.0.84
openinference-instrumentation==0.1.18
openinference-semantic-conventions==0.1.12
openpyxl==3.1.5
opensearch-py==2.7.1
openslide-python==1.3.1
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp==1.28.1
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-exporter-otlp-proto-http==1.27.0
opentelemetry-exporter-prometheus==0.48b0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-instrumentation-httpx==0.48b0
opentelemetry-instrumentation-requests==0.48b0
opentelemetry-instrumentation-threading==0.48b0
opentelemetry-instrumentation-urllib==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
opt_einsum==3.4.0
optree==0.15.0
optuna==4.0.0
orderly-set==5.2.2
orjson==3.10.16
overrides==7.7.0
packaging==24.2
paginate==0.5.7
pandas==2.2.2
pandocfilters==1.5.1
parameterized==0.9.0
paramiko==3.5.0
parso==0.8.4
passlib==1.7.4
password-strength==0.0.3.post2
pathspec==0.12.1
patsy==0.5.6
peewee==3.17.7
pexpect==4.9.0
pfzy==0.3.4
pgvector==0.3.6
pickleshare==0.7.5
pillow==10.2.0
pinecone-client==5.0.1
pinecone-plugin-inference==1.1.0
pinecone-plugin-interface==0.0.7
pkginfo==1.11.2
platformdirs==4.2.2
plotly==5.20.0
poetry==1.8.4
poetry-core==1.9.1
poetry-plugin-export==1.8.0
pointpats==2.5.0
pool==0.1.2.dev0
portalocker==2.10.1
postgrest==0.17.2
posthog==3.7.0
POT==0.9.4
primp==0.7.0
prometheus_client==0.21.0
prompt-toolkit==3.0.43
propcache==0.2.0
proto-plus==1.25.0
protobuf==4.25.5
psutil==5.9.8
psycopg==3.2.3
psycopg2-binary==2.9.10
ptyprocess==0.7.0
PuLP==2.9.0
pulsar-client==3.5.0
pure_eval==0.2.3
py==1.11.0
py4j==0.10.9.7
pyarrow==18.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyautogen==0.3.1
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.9.2
pydantic-settings==2.4.0
pydantic_core==2.23.4
pydeck==0.9.1
pygame==2.3.0
Pygments==2.17.2
PyGSP==0.5.1
PyJWT==2.9.0
pymdown-extensions==10.7.1
pymilvus==2.4.9
pymongo==4.10.1
PyNaCl==1.5.0
pynndescent==0.5.13
pyogrio==0.9.0
pyparsing==3.1.1
pypdf==4.3.1
pyperclip==1.9.0
PyPika==0.48.9
pyproj==3.6.1
pyproject_hooks==1.2.0
pyreadline3==3.5.4
pysal==24.1
pysbd==0.3.4
Pysher==1.0.8
python-dateutil==2.8.2
python-docx==1.1.2
python-dotenv==1.0.1
python-engineio==4.10.1
python-igraph==0.11.6
python-jose==3.3.0
python-json-logger==2.0.7
python-Levenshtein==0.25.1
python-louvain==0.16
python-lsp-jsonrpc==1.1.2
python-multipart==0.0.17
python-rapidjson==1.20
python-socketio==5.11.4
pytube==15.0.0
pytz==2024.1
pyvis==0.3.2
PyWavelets==1.7.0
pywin32==308
pywin32-ctypes==0.2.3
pywinpty==2.0.14
PyYAML==6.0.2
pyyaml_env_tag==0.1
pyzmq==26.2.0
qdrant-client==1.9.0
qianfan==0.3.5
quantecon==0.7.2
questionary==2.1.0
ragstack-ai-knowledge-store==0.2.1
rapidfuzz==3.9.4
rasterio==1.3.10
rasterstats==0.19.0
realtime==2.0.6
redis==5.2.0
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
responses==0.18.0
retry==0.9.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.20.0
rsa==4.9
Rtree==1.3.0
ruff==0.6.9
s3transfer==0.10.3
safetensors==0.4.5
scanpy==1.10.2
schema==0.7.5
scikit-image==0.19.3
scikit-learn==1.4.0
scipy==1.10.0
seaborn==0.12.2
segregation==2.5
semver==3.0.2
Send2Trash==1.8.3
sentence-transformers==3.2.1
sentry-sdk==2.18.0
session-info==1.0.0
seurat==0.1.0
shap==0.45.0
shapely==2.0.5
shellingham==1.5.4
shiny==1.4.0
simple-websocket==1.1.0
simplejson==3.19.2
simsimd==6.0.3
six==1.16.0
slicer==0.0.7
smart-open==7.0.4
smmap==5.0.1
sniffio==1.3.1
snuggs==1.4.7
soupsieve==2.5
spaghetti==1.7.6
spglm==1.1.0
spider-client==0.1.23
spint==1.0.7
splot==1.1.5.post1
spopt==0.6.1
spreg==1.5.0
spvcm==0.3.0
SQLAlchemy==2.0.36
sqlean.py==3.47.0
sqlmodel==0.0.18
sseclient-py==1.8.0
stack-data==0.6.3
starlette==0.41.2
statsmodels==0.14.4
stdlib-list==0.10.0
storage3==0.8.2
strawberry-graphql==0.243.1
streamlit==1.44.1
StrEnum==0.4.15
striprtf==0.0.26
supabase==2.9.0
supafunc==0.6.2
sympy==1.13.1
synapseclient==4.7.0
tab-transformer-pytorch==0.4.2
tabpfn==2.0.5
tabpfn-client==0.1.4
tabpfn-extensions==0.0.4
tabulate==0.9.0
tenacity==8.3.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.5.0
terminado==0.18.1
texttable==1.7.0
Theano==1.0.5
threadpoolctl==3.2.0
tifffile==2024.9.20
tiktoken==0.7.0
tinycss2==1.4.0
tobler==0.11.2
tokenizers==0.20.3
toml==0.10.2
tomli==2.0.2
tomlkit==0.13.2
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tornado==6.4.1
tqdm==4.66.2
traitlets==5.14.2
transformers==4.46.2
tree-sitter==0.23.2
tree-sitter-python==0.23.4
tritonclient==2.51.0
trove-classifiers==2024.10.21.16
typer==0.13.0
types-cachetools==5.5.0.20240820
types-python-dateutil==2.9.0.20241003
types-requests==2.32.0.20241016
typing==3.7.4.3
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2023.4
uc-micro-py==1.0.3
ujson==5.10.0
umap-learn==0.5.6
uncurl==0.0.11
unstructured-client==0.24.1
upstash-vector==0.6.0
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.20
utils==1.0.2
uuid6==2024.7.10
uvicorn==0.32.0
validators==0.34.0
virtualenv==20.27.1
watchdog==5.0.3
watchfiles==0.24.0
wcwidth==0.2.13
weaviate-client==4.9.3
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==13.1
Werkzeug==3.1.3
widgetsnbextension==4.0.13
wikipedia==1.4.0
win32-setctime==1.1.0
wolframalpha==5.1.3
wrapt==1.16.0
wsproto==1.2.0
xgboost==2.0.3
xmltodict==0.14.2
xxhash==3.5.0
yarl==1.17.1
yfinance==0.2.49
youtube-transcript-api==0.6.2
zep-python==2.0.2
zipp==3.19.2
zstandard==0.23.0
